
@{
    ViewBag.Title = "Dashboard";
}

<h2>Admin Dashboard</h2>

<hr />

<a href="/Admin/AddQuestion">
    Add Question
</a>

<br />
<br />

<a href="/Admin/ViewQuestions">
    View Questions
</a>

<br />
<br />

<a href="/Admin/ViewUsers">
    View Users
</a>

<br />
<br />

<a href="/Admin/ViewResults">
    View Results
</a>

