

<h2>Admin Login</h2>

@using (Html.BeginForm())
{
    <label>Email</label>
    <input type="text" name="email" />

    <br />
    <br />

    <label>Password</label>
    <input type="password" name="password" />

    <br />
    <br />

    <button type="submit">
        Login
    </button>
}

<h3 style="color:red">
    @ViewBag.Message
</h3>