@{
    Layout = null;
}
@Html.ValidationSummary(true, "", new { @class = "error" })
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>

    <style>
        body {
            margin: 0;
            font-family: 'Inter', sans-serif;
            height: 100vh;
            display: flex;
        }

        .container {
            display: flex;
            width: 100%;
        }

        .left {
            flex: 1;
            background: linear-gradient(135deg, #5b2be0, #7e4cff);
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
        }

        .right {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #f5f6fa;
        }

        .login-card {
            background: white;
            padding: 40px;
            width: 350px;
            border-radius: 14px;
            box-shadow: 0 10px 25px rgba(0,0,0,0.1);
        }

        input {
            width: 100%;
            padding: 10px;
            margin-top: 6px;
            border-radius: 8px;
            border: 1px solid #ddd;
        }

        .btn {
            width: 100%;
            margin-top: 10px;
            padding: 12px;
            background: #5b2be0;
            border: none;
            color: white;
            border-radius: 8px;
        }

        .error {
            text-align: center;
            color: red;
        }
    </style>
</head>

<body>

    <div class="container">

        <!-- LEFT -->
        <div class="left">
            <div>
                <img src="https://cdn-icons-png.flaticon.com/512/3209/3209265.png" width="300" />
                <h1>Online Exam Portal</h1>
                <p>Practice and improve your skills</p>
            </div>
        </div>

        <!-- RIGHT -->
        <div class="right">
            <div class="login-card">

                <h2>User Login</h2>

                @using (Html.BeginForm())
                {
                    <label>Email</label>
                    <input type="text" name="email" required />

                    <label>Password</label>
                    <input type="password" name="password" required />

                    <h4>Captcha : @ViewBag.Captcha</h4>
                    <input type="text" name="captchaInput" placeholder="Enter Captcha" required />

                    <button type="submit" class="btn">Login</button>
                }

                <br />

                <a href="/Account/ForgotPassword">Forgot Password?</a>

                @if (ViewBag.Message != null)
                {
                    <div class="error">
                        @ViewBag.Message
                    </div>
                }

            </div>
        </div>

    </div>

</body>
</html>
