@{
    ViewBag.Title = "Instructions";
}
@model OnlineExamSystem.Models.Exam

<style>
    h2 {
        color: blue;
    }

    p {
        font-size: 18px;
        margin: 5px 0;
    }

    a {
        display: inline-block;
        margin-top: 10px;
        padding: 8px 15px;
        background-color: green;
        color: white;
        text-decoration: none;
        border-radius: 5px;
    }

        a:hover {
            background-color: darkgreen;
        }
</style>

<h2>Exam Instructions</h2>

<p>Total Questions : @Model.TotalQuestions</p>
<p>Pass Marks : @Model.PassMarks</p>
<p>Duration : @Model.DurationMinutes Minutes</p>

<a href="/Exam/StartExam/@Model.ExamId">
    Start Exam
</a>
