@{
    ViewBag.Title = "SelectExam";
}
@model IEnumerable<OnlineExamSystem.Models.Exam>

<style>
    body {
        font-family: Arial;
        background-color: #f8f8f8;
    }

    
    table, td {
        color: black;
    }

    h2 {
        text-align: center;
        color: #556B2F;
    }

    table {
        width: 80%;
        margin: 30px auto;
        border-collapse: collapse;
        background: white;
        box-shadow: 0px 0px 10px gray;
    }

    th {
        background: linear-gradient(180deg, #556B2F, #6B8E23);
        color: white;
        padding: 10px;
    }

    td {
        text-align: center;
        padding: 10px;
    }

    .btn {
        padding: 6px 12px;
        background: linear-gradient(180deg, #556B2F, #6B8E23);
        color: white;
        text-decoration: none;
        border-radius: 5px;
    }
</style>

<h2>Select Exam</h2>

<table>
    <tr>
        <th>Exam</th>
        <th>Level</th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ExamName</td>
            <td>@item.LevelNo</td>
            <td>
                <a href="/Exam/Instructions/@item.ExamId" class="btn">
                    Start
                </a>
            </td>
        </tr>
    }
</table>